// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
* Copyright (c) 2018 He Yangxuan
*/

/dts-v1/;

#include "meson-gxl-s905d-p230.dts"

/ {
    compatible = "phicomm,n1", "amlogic,s905d", "amlogic,meson-gxl";
    model = "Phicomm N1";

    cvbs-connector {
        status = "disabled";
    };

    leds {
        compatible = "gpio-leds";
        status {
            label = "n1:white:status";
            gpios = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
            default-state = "on";
        };
    };

    dc_in: regulator-vcc_12v {
        compatible = "regulator-fixed";
        regulator-name = "VCC_12V";
        regulator-min-microvolt = <12000000>;
        regulator-max-microvolt = <12000000>;
        regulator-boot-on;
        regulator-always-on;
    };

    vddgpu: regulator-vddgpu {
        compatible = "regulator-fixed";
        regulator-name = "mali";
        regulator-min-microvolt = <950000>;
        regulator-max-microvolt = <950000>;
        vin-supply = <&dc_in>;
        regulator-boot-on;
        regulator-always-on;
    };

    soc {
        usb: usb@d0078080 {
            dwc3: usb@c9000000 {
                /* Workaround for broken LPM implementation found in many USB3 devices. */
                usb2-lpm-disable;
            };
        };
    };
};

&cvbs_vdac_port {
    status = "disabled";
};

&usb {
    dr_mode = "host";
};

&sd_emmc_b {
    /* disable SD CARD */
    status = "disabled";
};

&ethmac {
    snps,aal;
    snps,txpbl = <0x8>;
    snps,rxpbl = <0x8>;
    snps,force_thresh_dma_mode;
    /* Select external PHY by default */
    phy-handle = <&eth_phy0>;
    /* External PHY reset is shared with internal PHY Led signals */
    snps,reset-gpio = <&gpio GPIOZ_14 0>;
    snps,reset-delays-us = <0 10000 1000000>;
    snps,reset-active-low;
    mdio {
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        compatible = "snps,dwmac-mdio";
        phandle = <0x1a>;
        eth_phy0: ethernet-phy@0 {
            reg = <0x0>;
            phandle = <0x1d>;
        };
    };
};

&external_mdio {
    external_phy: ethernet-phy@0 {
        /delete-property/ eee-broken-1000t;
    };
};

/* This UART is connected to the Bluetooth module */
&uart_A {
    status = "okay";
    pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
    pinctrl-names = "default";
    uart-has-rtscts;

    bluetooth {
        compatible = "brcm,bcm43438-bt";
        shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
        max-speed = <2000000>;
        clocks = <&wifi32k>;
        clock-names = "lpo";
    };
};
